@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Oswald:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'MartinDisplayBold';
  src: url('../assets/fonts/VTCMartinDisplay-XBold.woff2') format('woff2'),
}

@font-face {
  font-family: 'MartinDisplayBoldForward';
  src: url('../assets/fonts/VTCMartinDisplay-XBoldForward.woff2') format('woff2'),
}

:root {
  --Anton: "Anton", sans-serif;
  --Antonio: "Antonio", sans-serif;
  /* --Bodoni:"Bodoni Moda", serif; */
  --Bodoni:"Lato", sans-serif;
  --Oswald: "Oswald", sans-serif;
  --Martin: 'MartinDisplayBold', Fallback, sans-serif;
  /* --Background: rgba(170, 138, 82, .9); */
  --Background: rgba(170, 160, 82, .95);
  --Background-Alt: rgba(216, 182, 125, 0.95);
  --Background-Blue: rgba(100, 155, 146, 0.9);
  --Background-Blue-No-Opacity: rgba(100, 155, 146, 1);
  --Background-Blue-Alt: rgba(141, 211, 199, 0.9);
  --Background-Blue-Dark: rgba(72, 120, 112, 0.9);
  --Maroon: #730900;
  /* --Dark-Brown: rgb(64, 46, 50); */
  --Dark-Brown: rgb(49, 35, 38);
  --Dark-Brown-Alt: rgba(49, 35, 38, 0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: var(--Anton)
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  margin-top: 0px;
  font-size: 62.5%;
  overflow: hidden;

}

#viewDiv {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: fixed;
  opacity: 0;
  transition: opacity 1.5s;
}

#viewDiv.show {
  opacity: 1;
}

.background-starter-div {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  background-color: var(--Dark-Brown);
}

/*Lenis CSS*/

.lenis {
  height: 100%;
  overflow: hidden; 
}

.lenis .lenis-wrapper {
  height: 100%;
  overflow: hidden;
}

.lenis .lenis-content {
  will-change: transform;
}

/*Custom Scrollbar*/

::-webkit-scrollbar {
  width: .5rem;
  background-color: #acaaaa;
}
  
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
}

/* Loader Styling */

.loading-div {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
}

.loading-div.hidden {
  opacity: 0;
  visibility: hidden;
}

/* .loader {
  border: 8px solid var(--Dark-Brown);
  border-radius: 50%;
  border-top: 8px solid var(--Background-Blue);
  margin-top: 12rem;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite; 
  animation: spin 1.5s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.spinner {
  margin-top: 5rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spinner > div {
  width: 2rem;
  height: 2rem;
  background-color: var(--Dark-Brown);
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}
.spinner .bounce1 {
  animation-delay: -0.4s;
}
.spinner .bounce2 {
  animation-delay: -0.2s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/*Atlas Logo*/

.logo-container {
  position: fixed;
  top: 3rem;
  left: 3rem;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  /* cursor: pointer; */
  opacity: 0;
  transition: all 0.3s ease;
  padding: 2rem;
}

.logo-container:hover {
  transform: translateY(-0.5rem);
  background-color: rgba(255, 255, 255, 0.5);
  height: 24rem;
  width: 20rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

.logo-container.show {
  opacity: 1;
}

.logo-container:hover .logo-menu {
  display: block;
}

.logo img {
  width: 5rem;
  height: auto;
  z-index: 5;
  cursor: pointer;
  transition: all 0.3s;
}

.logo img:hover {
  width: 5.5rem;
  /* transform: translateY(-0.5rem); */
}

.logo-menu {
  display: none;
  text-align: start;
}

.logo-menu ul {
  list-style-type: none;
  padding-top: 1.6rem;
}

.logo-menu ul li {
  margin-bottom: 1rem;
  font-family: var(--Bodoni);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
}

.logo-menu ul li:hover {
  font-weight: 600;
}



/*Title Text*/

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 75vh;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text h1 {
  font-size: 21rem;
  color: var(--Background-Alt);
  letter-spacing: 1.1rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  text-transform:uppercase;
  font-family: var(--Martin);
}

.title-text span {
  font-size: 16rem;
  /* font-family: var(--Antonio); */
  color: var(--Background-Alt);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  transition: opacity 1s;
  opacity: 1;
  font-family: var(--Martin);
}

#text-overlay {
  background-color: transparent;
  position: relative;
  z-index: 2; 
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

/* Entries Text */

.entry-left {
  height: auto;
  width: 40%;
  padding-bottom: 100vh;
  padding-left: 3rem;
  margin-right: auto; 
  margin-left: 0;
}

.entry-right {
  height: auto;
  width: 40%;
  padding-bottom: 100vh;
  padding-right: 3rem;
  margin-left: auto; 
  margin-right: 0;
}

.entry-holder {
  background-color: var(--Dark-Brown-Alt);
  border-radius: 5px;
  padding: 20px;
  color: black;
  box-shadow: 0px 4px 15px -1px var(--Dark-Brown);
}

.entry-holder span {
  font-size: 1.8rem;
  font-weight: 300;
  font-family: var(--Bodoni);
  color: #fff;
  line-height: 2.7rem;
  letter-spacing: .05rem;
}

.entry-holder p {
  font-family: var(--Bodoni);
  font-weight: 600;
  padding-bottom: 1rem;
}

/***Video Div***/

.video-section {
  height: 175vh;
  width: 100%;
  background: linear-gradient(to top,rgba(100, 155, 146, 0.9) 80%, rgba(100, 155, 146, 0.5) 92%, transparent 100%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.video-text-container {
  height: 60%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40rem;
}

.video-section-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-section-text-holder {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.video-section-text-holder span {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: var(--Bodoni);
  color: white;
  line-height: 2.7rem;
  letter-spacing: .05rem;
}

.video-section-video {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.rc-video {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 15px -1px var(--Dark-Brown);
  /* clip-path: fill-box; */
}

/***Photo Carousel***/

/* Carousel Div */

.carousel-section {
  height: 125vh;
  width: 100%;
  background-color: var(--Background-Blue);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** Splide JS***/

.carousel {
    aspect-ratio: 16/9;
    width: 65vw;
    height: auto;
    max-height: 70%;
    position: relative;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 15px -1px var(--Dark-Brown);
    overflow: hidden;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);

    margin: 0;
    padding: 0;
    
    display: grid;
    place-items: center;

    background: none;
    border: none;

    height: 100%;
    width: 3rem;

    z-index: 3;
}

.arrow:hover {
    cursor: pointer;
}

.arrow > img {
    height: 3rem;
    transition: all 400ms ease-in-out;
}

.back-arrow {
    left: .3rem;
}

.back-arrow:hover > img {
    transform: translateX(-20%) scale(1.2);
}

.next-arrow {
    right: .3rem;
}

.next-arrow:hover > img {
    transform: translateX(20%) scale(1.2);
}

.slide:not(.showcase) {
    width: 0;
}

.showcase {
    left: 0;
    width: 100%;
}

.left {
    left: 0;
}

.right {
    left: 100%;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: all ease-in-out var(--duration);
}

.overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.65172006302521) 0%,
        rgba(48, 48, 48, 0) 15%
    );
}

.slide-info {
    position: absolute;
    /* bottom: 1rem; */
    /* left: 2rem; */
    height: 100%;
    padding: 2.5rem 2.5rem 2.5rem 3.5rem;
    /* width: 20rem; */
    width: 30rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    z-index: 2;
    transition: all ease-in-out var(--duration);
}

.slide:not(.showcase) > .slide-info {
    opacity: 0;
}

.slide-info > img {
    width: 12rem;
}

.slide-info > button {
  padding: 0.4rem 1rem;
  width: 10rem;
  border: 0px;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.slide-info > h3 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding-bottom: .3rem;
}

.slide-info > p {
  text-wrap: wrap;
  color: #fff;
  font-family: var(--Bodoni);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: .05rem;
}

.slide-info a {
  font-family: var(--Bodoni);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.7rem;
  letter-spacing: .05rem;
  color: var(--Background-Blue-Alt);
  transition: opacity .3s;
}

.slide-info a:hover {
  opacity: 0.8;
}

.counter {
  position: absolute;
  bottom: 2.5rem;
  left: 3.5rem;
  color: #fff;
  font-size: 2rem;
}

.slide-bg {
  position: relative;
  width: 65vw;
  left: 50%;
  transform: translatex(-50%);
  margin: 0;
}

/***Interactive Map***/

.secondary-map-section {
  height: 150vh;
  width: 100%;
  background-color: var(--Background-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  width: 70%;
  padding-bottom: 7rem;
}

.text-container p {
  text-wrap: wrap;
  color: #fff;
  font-family: var(--Bodoni);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: .05rem;
}

.map-container {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.map-legend {
  width: 20%;
  height: auto;
  padding-left: 2rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 3em;
  margin-right: 2rem;
  border-radius: 1rem;
}

.map-legend h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--Anton);
  line-height: 2.7rem;
  letter-spacing: .05rem;
  padding-bottom: 1rem;
}

.map-legend p {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--Anton);
  line-height: 2.7rem;
  letter-spacing: .05rem;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 0 1rem 0;
}

.use-item {
  width: 5rem;
  height: 2rem;
  opacity: 0.8;
  border-radius: .5rem;
  box-shadow: 0px 2px 8px -.5px var(--Dark-Brown);
}

.legend-item:nth-of-type(1) .use-item {
  background-color: #730900;
}

.legend-item:nth-of-type(2) .use-item {
  background-color: #944229;
}

.legend-item:nth-of-type(3) .use-item {
  background-color: #B67C53;
}

.legend-item:nth-of-type(4) .use-item {
  background-color: #D8B67D;
}

.legend-item:nth-of-type(5) .use-item {
  background-color: #9EA887;
}

.legend-item:nth-of-type(6) .use-item {
  background-color: #649B92;
}

.legend-item:nth-of-type(7) .use-item {
  background-color: #efefef;
}

.legend-item p {
  font-family: var(--Bodoni);
  font-size: 1.3rem;
  padding-left: 2rem;
}

.map-holder {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#viewDivTwo {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 4px 15px -1px var(--Dark-Brown); 
  z-index: 3; 
}

/*Side Panel Buttons Container*/

.zoom-btn-container {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    width: 7rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}

/*Zoom In / Out Button*/

.zoom-in-btn,
.zoom-out-btn {
    /* position: absolute; */
    bottom: 4rem;
    right: 4rem;
    /* z-index: 2 */
}

.zoom-in-btn,
.zoom-out-btn {
    cursor: pointer;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 2rem;
    left:2rem; */
    height:3rem;
    width:3rem;
    border-radius: 50%;
    background-color: var(--Background-Blue);
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.zoom-in-btn i,
.zoom-out-btn i {
    font-size: 1.3rem;
    color: #fff;
}

.zoom-in-btn:hover,
.zoom-out-btn:hover {
    background-color: var(--Dark-Brown) !important;
    transform: translateY(-0.09rem);
}

/* Temporary removal of accessibility border from viewDivTwo */

.esri-view .esri-view-surface--touch-none:focus::after {
  outline: none !important;
}

.map-holder span {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: var(--Dark-Brown);
  font-family: var(--Bodoni);
  font-weight: 400;
  color: #fff;
}

/***Atlas Options Section***/

.options-section {
  height: 100vh;
  width: 100%;
  background-color: var(--Background-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options-section h1 {
  padding-bottom: 3rem;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  color: var(--Dark-Brown)
}

.options-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.options-section-text span {
  font-size: 2.2rem;
  color: var(--Dark-Brown);
  font-weight: 600;
  font-family: var(--Bodoni);
  color: white;
  letter-spacing: .05rem;
}

/* .options-section-text ul {
  padding-left: 1rem;
  padding-top: 2rem;
} */

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  padding-top: 3rem;
  height: 50rem;
}

.option-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 40rem;
}

.option-wrapper span { 
  color: #fff;
  font-family: var(--Bodoni);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: .05rem;
}

.option {
  width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 4px 15px -1px var(--Dark-Brown);
  transition: transform 0.3s;
  cursor: pointer;
  margin-bottom: 4rem;
}

.option:hover {
  transform: translateY(-0.5rem);
}

.option > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: absolute;
  border-radius: inherit;
  opacity: 0.5;
}

.option h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: var(--Dark-Brown);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  font-family: var(--Martin);
}

/***Bouncing Scroll Down Arrow***/

.down-arrow {
  position: fixed;
  bottom: calc(100vh - 80px);
  left: calc(50% - 14px);
  margin: 0 auto;
  text-align: center;
  animation: jump 2.5s infinite;
  z-index: 4;
  transition: opacity 0.2s;
}

.hide {
  opacity: 0;
  transition: opacity 0.2s;
}

.down-arrow i {
  font-size: 3.5rem;
  transition: 0.3s ease-in-out;
  color: var(--Background-Alt);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

@keyframes jump {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 4rem;
  }
  100% {
    bottom: 1rem;
  }
}
